<!DOCTYPE html>
<html>
	<head>
		<title>Rock Paper Scissors</title>
		<link rel='stylesheet' type='text/css' href='css/bootstrap.css'>
		<link rel='stylesheet' type='text/css' href='css/styles.css'>
	</head>
	
	<body>
		<div class='container-fluid'>
			<div class = 'jumbotron'>
				<h1>Rock Paper Scissors</h1>
			</div>
		</div>
		
		<div class='container-fluid'>
			<%= yield %>
		</div>
	</body>
</html>