<h2>Player Two</h2>
<form action='result'>
	<input type='radio' id='rock' name='player2' value='rock' checked> Rock
	<input type='radio' id='paper' name='player2' value='paper'> Paper
	<input type='radio' id='scissors' name='player2' value='scissors'> Scissors
	<input type='radio' id='computer' name='player2' value='computer'> Computer
	<button type='submit' class='btn btn-primary'>Submit</button>
</form>