<h2>Player One</h2>
<form action='player2'>
	<input type='radio' id='rock' name='player1' value='rock' checked> Rock
	<input type='radio' id='paper' name='player1' value='paper'> Paper
	<input type='radio' id='scissors' name='player1' value='scissors'> Scissors
	<input type='radio' id='computer' name='player1' value='computer'> Computer
	<button type='submit' class='btn btn-primary'>Submit</button>
</form>